    <div class="webdev-container-center">
        <div class="webdev-form-header webdev-form-header-text">Login</div>
        <div class="webdev-form-content">
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <div class="input-group webdev-top-bottom-margin">
                <span class="input-group-addon"
                      id="username-group">
                     <span class=" glyphicon glyphicon-user"></span>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="username"
                       ng-model="model.user.username"/>
            </div>

            <div class="input-group webdev-top-bottom-margin">
                <span class="input-group-addon"
                      id="password-group">
                    <span class=" glyphicon glyphicon-lock"></span>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="password"
                       ng-model="model.user.password"/>
            </div>

            <a class="btn btn-primary btn-block"
               ng-click="model.login(model.user)">Login</a>
            <a class="btn btn-success btn-block"
               ng-click="model.register()">Register</a>
        </div>
    </div>