    <div class="webdev-container-center">
        <div class="webdev-form-header webdev-form-header-text">Register</div>
        <div class="webdev-form-content">
            <div class="input-group webdev-top-bottom-margin">
                <span class="input-group-addon"
                      id="username-group">
                     <span class=" glyphicon glyphicon-user"></span>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="username"
                       ng-model="model.user.username"/>
            </div>

            <div class="input-group webdev-top-bottom-margin">
                <span class="input-group-addon"
                      id="password-group">
                    <span class=" glyphicon glyphicon-lock"></span>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="password"
                       ng-model="model.user.password"/>
            </div>

            <div class="input-group webdev-top-bottom-margin">
                <span class="input-group-addon"
                      id="veri-password-group">
                    <span class=" glyphicon glyphicon-lock"></span>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="verify password"
                       ng-model="model.user.verify"/>
            </div>
            <a class="btn btn-primary btn-block"
               ng-click="model.register(model.user)">Register</a>
            <a class="btn btn-danger  btn-block"
               ng-click="model.cancel()">Cancel</a>
        </div>

    </div>