<nav class="navbar navbar-default navbar-fixed-top webdev-form-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-0 text-left pull-left navbar-text">
                <a ng-click="model.pageList()">
                        <span class="glyphicon glyphicon-chevron-left webdev-action-glyph">
                        </span>
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 text-left pull-left navbar-text">
                <a class="webdev-form-header-text" href="#">
                    Widgets
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 navbar-text pull-right text-right">
                <a ng-click="model.widgetNew()">
                        <span class="glyphicon glyphicon-plus webdev-action-glyph">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="webdev-container-center">
    <div class="webdev-form-content">
        <ul class="list-group" jga-sortable="" update-order="model.updateOrder(startIndex,endIndex)">
            <li class="list-group-item" ng-repeat="widget in model.widgets">
                <div class="jga-toolbar">
                    <a ng-click="model.edit(widget._id)">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"> </span>
                </div>


                <div ng-include="model.getWidgetTemplateUrl(widget.type)">
                </div>
                    <!--ng-include src=""></ng-include>
                    <div ng-switch-when="HEADER">
                        <ng-include src="'views/widget/widget-HEADER.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/widget-IMAGE.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="HTML">
                        <ng-include src="'views/widget/widget-HTML.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/widget-YOUTUBE.view.client.html'"></ng-include>
                    </div-->
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom webdev-form-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 navbar-text text-left pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
            <div class="col-xs-1 navbar-text text-left pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            <div class="col-xs-3 navbar-text pull-right text-right">
                <a ng-click="model.profile()">
                    <span class="glyphicon glyphicon-user webdev-action-glyph"></span>
                </a>
            </div>
        </div>
    </div>
</nav>