<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="name-group">
             Name
        </span>
    <input type="text"
           class="form-control"
           placeholder="Name"
           id ="name"
           ng-model="model.widget.type"/>
</div>

<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="text-group">
             Text
        </span>
    <input type="text"
           class="form-control"
           placeholder="Text"
           id="text"
           ng-model="model.widget.text"/>
</div>

<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="size-group">
             Size
        </span>
    <input type="text"
           class="form-control"
           placeholder="#"
           id="size"
           ng-model="model.widget.size"/>
</div>