<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="name-group">
             Name
        </span>
    <input type="text"
           class="form-control"
           placeholder="Name"
           id ="name"
           ng-model="model.widget.type"/>
</div>

<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="url-group">
             URL
        </span>
    <input type="text"
           class="form-control"
           placeholder="URL"
           id="url"
           ng-model="model.widget.url"/>
</div>


<div class="input-group webdev-top-bottom-margin webdev-full-width">
        <span class="input-group-addon webdev-label-fixed-width"
              id="width-group">
             Width
        </span>
    <input type="text"
           class="form-control"
           placeholder="## %"
           id="width"
           ng-model="model.widget.width"/>
</div>