<nav class="navbar navbar-default navbar-fixed-top webdev-form-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-0 text-left pull-left navbar-text">
                <a href="../page/page-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left webdev-action-glyph">
                        </span>
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 text-left pull-left navbar-text">
                <a class="webdev-form-header-text" href="widget-list.view.client.html">
                    Widgets
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 navbar-text pull-right text-right">
                <a href="widget-chooser.view.client.html">
                        <span class="glyphicon glyphicon-plus webdev-action-glyph">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="webdev-container-center">
    <div class="webdev-form-content">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="jga-toolbar">
                    <a href="widget-heading.view.client.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"> </span>
                </div>
                <h1>GIZMODO</h1>
            </li>

            <li class="list-group-item">
                <div>
                    <h3>New Measurements of the Universe Expanding Tell a Confusing Story</h3>
                </div>
                <div class="jga-toolbar">
                    <a href="widget-image.view.client.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"> </span>
                </div>
                <img width="100%" src="https://i.kinja-img.com/gawker-media/image/upload/s--UE7cu6DV--/c_scale,fl_progressive,q_80,w_800/xoo0evqxzxrrmrn4ayoq.jpg">
            </li>

            <li class="list-group-item">
                <div class="jga-toolbar">
                    <a href="#">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"> </span>
                </div>
                <p>At the Environmental Protection Agency, it’s typical for an incoming administration to implement a realignment of sorts—with some grants or contracts, for instance, being frozen temporarily—but a decision by President Donald Trump’s staff to <a href="http://www.latimes.com/politics/washington/la-na-trailguide-updates-trump-administration-orders-media-1485281190-htmlstory.html" target="_blank" rel="noopener">order a total media blackout</a>, as well as ban any new spending, has left some employees rattled. <br></p>
            </li>

            <li class="list-group-item">
                <div class="jga-toolbar">
                    <a href="widget-youtube.view.client.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"> </span>
                </div>
                <iframe width="100%" src="https://www.youtube.com/embed/vQD1Txzvq70" frameborder="0" allowfullscreen></iframe>
            </li>

        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom webdev-form-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 navbar-text pull-right text-right">
                <a href="#">
                    <span class="glyphicon glyphicon-user webdev-action-glyph"></span>
                </a>
            </div>
        </div>
    </div>
</nav>